html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #F9F2E5 /*#F0DEB7 /*#F5F0EB /*rgb(230,240,255)*/;
    font-family: 'Roboto', sans-serif;
}

header
{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 100px;
	text-align: center;
	font-size: smaller;
	letter-spacing: 10px;
	position: fixed;
	top:0;
	z-index: 1000;
	background-image: linear-gradient(#F9F2E5, rgba(249, 242, 229, 0));
}

#content
{
	padding-bottom: 50px;
}

.player {
	text-align: center;
	padding: 20px;
}

.schnitt
{
	position: fixed;
	width: 100%;
	text-align: center;
	padding-top: 60px;
	bottom: 0;
	background-image: linear-gradient(rgba(249, 242, 229, 0),#F9F2E5);
}

#bridgestart, #firstpylon, #secondpylon, #startislet, #starttunnel, #endtunnel {
	display: none;
}

#map {
	height: 270px;
	padding-top: 150px;
}

.map {
	text-align: center;
	padding-right: 150px;
	padding-left: 150px;
	padding-top: 5px;
}