html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #F9F2E5 /*#F0DEB7 /*#F5F0EB /*rgb(230,240,255)*/;
	font-family: "Roboto";
	padding: 100 px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
	padding: 5px;
	text-align: center;
	font-size: smaller;
	letter-spacing: 10px;
}

.player {
	text-align: center;
	padding: 0px;
}

.content {
	text-align: center;
	padding-top: 20px;
}

#bridgestart, #firstpylon, #secondpylon, #startislet, #starttunnel, #endtunnel {
	display: none;
}

#map {
	margin-bottom: 20px;
	height: 270px;
}

.map {
	text-align: center;
	padding-right: 150px;
	padding-left: 150px;
	padding-top: 0;
}